/*
  Global Styles
*/
body {
  padding-top: 51px;
  background-color: #f9f8fd;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
}
.text-center {
  text-align: center;
}
.text-block {
  line-height: 1.6em;
}
.full-height {
	height: 100%;
}
.image-onehundred {
  width: 100%;
}
.right-align-underscore:after {
  content: '';
  display: table;
  clear: both;
}
.right-align-underscore .header-underscore {
  float: right;
}
.header-underscore {
  width: 40px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px 0 14px;
}
.header-underscore.center {
  margin: 10px auto 14px;
}
.header-underscore.white {
  background-color: #f6f5f3;
}
/*
  TypedJS Styles
*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.animated {
  visibility: visible !important;
}
/*
  Transition Animations
*/
button {
  transition: all 300ms ease;
}
.nav-small-menu-icon {
  transition: all 300ms ease;
}
.navbar {
  border-bottom: none;
}
.header {
	width: 100%;
  font-family: 'Titillium Web', sans-serif;
}
.header .logo-wrap {
  position: relative;
  padding: 12px 0 4px;
}
.header .logo-wrap svg {
  height: 30px;
}
.header .logo-wrap svg g {
  fill: #f9f8fd;
}
.header .navigation {
  list-style: none;
  text-align: center;
  position: relative;
}
.header .navigation:after {
  content: '';
  display: table;
  clear: both;
}
.header .navigation a {
  color: #f6f5f3;
  transition: color 300ms ease;
}
.header .navigation a:hover {
  color: #37BC9B;
}
.header .navigation a.home:hover ~ .h-rule,      .header .navigation a.home.active ~ .h-rule      {
  margin-left:  0%;
}
.header .navigation a.about:hover ~ .h-rule,     .header .navigation a.about.active ~ .h-rule     {
  margin-left: 25%;
}
.header .navigation a.portfolio:hover ~ .h-rule, .header .navigation a.portfolio.active ~ .h-rule {
  margin-left: 50%;
}
.header .navigation a.contact:hover ~ .h-rule,   .header .navigation a.contact.active ~ .h-rule   {
  margin-left: 75%;
}
.header .navigation li {
  width: 25%;
  padding: 14px 0 15px;
  float: left;
}
.header .navigation .h-rule {
  width: 25%;
  height: 4px;
  background-color: #37BC9B;
  position: absolute;
  bottom: -1px;
  transition: all 300ms ease;
}
.header .social-networks {
  list-style: none;
  padding-top: 14px;
}
.header .social-networks li {
  padding: 0 10px;
  float: right;
}
.header .social-networks li img {
  width: 25px;
}
.header .nav-small .nav-small-menu-icon {
  display: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.8em;
  padding: 12px 0;
  float: right;
  cursor: pointer;
}
.header .nav-small .nav-small-menu-icon:hover,
      .header .nav-small .nav-small-menu-icon.active {
  color: #f9f8fd;
}
.nav-small-content {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;


}
.nav-small-content .nav-small-content-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav-small-content .nav-small-content-wrapper h3 {
  color: #f6f5f3;
  padding: 0 0 40px;
  margin: 0;
}
.nav-small-content .nav-small-content-wrapper a {
  color: #f6f5f3;
  transition: color 300ms ease;
  text-decoration: none;
}
.nav-small-content .nav-small-content-wrapper a:hover,
      .nav-small-content .nav-small-content-wrapper a.active {
  color: #37BC9B;
}
.nav-small-content .nav-small-content-wrapper .social-networks {
  max-width: 300px;
  list-style: none;
  padding-bottom: 30px;
  margin: 0 auto;
}
.nav-small-content .nav-small-content-wrapper .social-networks:after {
  content: '';
  display: table;
  clear: both;
}
.nav-small-content .nav-small-content-wrapper .social-networks li {
  display: inline-block;
  padding: 0 10px;
}
.nav-small-content .nav-small-content-wrapper .navigation {
  width: 100%;
  list-style: none;
}
.nav-small-content .nav-small-content-wrapper .navigation li {
  display: block;
  font-size: 1.4em;
  padding: 6px 0;
}
@media screen and (max-width: 995px) {
  .header .nav-large {
    display: none;
  }
  .header .nav-small .nav-small-menu-icon {
    display: inline-block;
  }
}
.hero {
  width: 100%;
  height: calc(100vh - 51px);
  background-color: #333;
  font-size: 34px;
  color: #f6f5f3;
  position: relative;
}
.hero .hero-content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.hero .hero-content svg {
  width: 10%;
}
.hero .hero-content svg g {
  fill: #f9f8fd;
}
.hero .hero-content .hero-content-copy {
  padding: 20px 0 40px;
}
.hero .hero-content .hero-content-copy .welcome-message {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}
.hero .hero-content .hero-content-copy .name-line {
  text-transform: uppercase;
  font-size: 2.4em;
  margin: 0 0 4px;
}
.hero .hero-content .hero-content-copy .intro-line {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
}
.hero .hero-content button {
  margin: 0 5px;
  position: relative;
  z-index: 10;
}
.hero .hero-content .head-underscore {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 15px 0;
}
.hero .particle-wrapper {
  width: 100%;
  height: calc(100vh - 51px);
  position: absolute;
  top: 0;
  left: 0;
}
.hero .particle-wrapper canvas {
  height: calc(100vh - 51px) !important;
}
.hero .chevron-down {
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 20px;
}
@media screen and (max-width: 740px) {
  .hero {
    font-size: 24px;
  }
  .hero .hero-content .hero-content-copy .name-line {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 400px) {
  .hero .hero-content svg {
    width: 15%;
  }
}
.about {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 80px 0 70px;
}
.about h2 {
  margin: 0;
}
.about .education {
  text-align: right;
}
.about .education .education-wrapper {
  margin-top: 5px;
}
.about .education .education-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.about .education .education-wrapper .content {
  width: 100%;
  padding: 4px 10px 4px 0;
  margin-bottom: 8px;
  position: relative;
  z-index: 20;
}
.about .education .education-wrapper .content.tiy {
  border-right: 2px solid rgb(42, 114, 159);
}
.about .education .education-wrapper .content.cstate {
  border-right: 2px solid rgb(67, 185, 86);
}
.about .education .education-wrapper .content h4,
        .about .education .education-wrapper .content h5,
        .about .education .education-wrapper .content p {
  padding: 0 0 4px;
  margin: 0;
}
.about .education .education-wrapper .content h4 {
  font-weight: 500;
}
.about .education .education-wrapper .content p {
  font-style: italic;
  font-weight: 200;
  padding: 0;
}
.about .education .education-wrapper .education-dropdown {
  width: 100%;
  max-height: 0px;
  font-weight: 200;
  position: relative;
  top: 0;
  right: 0;
  visibility: none;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  transition: max-height 600ms ease,
                    opacity 1.2s ease;
}
.about .education .education-wrapper .education-dropdown h5 {
  padding-right: 10px;
}
.about .education .education-wrapper .education-dropdown ul {
  list-style: none;
  padding: 0 14px 0 0;
  margin-right: 10px;
}
.about .education .education-wrapper .education-dropdown ul li:after {
  content: '-';
  position: absolute;
  right: 10px;
}
.about .education .education-wrapper .content.tiy:hover ~ .education-dropdown.tiy,
      .about .education .education-wrapper .content.cstate1:hover ~ .education-dropdown.cstate1,
      .about .education .education-wrapper .content.cstate2:hover ~ .education-dropdown.cstate2,
      .about .education .education-wrapper .education-dropdown:hover {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
}
.about .skills {
  text-align: center;
  padding-top: 40px;
}
.about .skills .skills-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}
.about .skills .skills-list .skill {
  display: inline-block;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.4);
  line-height: 0em;
  padding: 8px;
  margin: 8px 8px 8px 0;
  transition: color 600ms ease;
}
.about .skills .skills-list .skill:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  .about .education {
    text-align: left;
    padding-top: 40px;
  }
  .about .education #educationHeaderUnderscore {
    float: left;
  }
  .about .education .education-wrapper .content {
    padding: 4px 4px 4px 10px;
  }
  .about .education .education-wrapper .content.tiy {
    border-right: none;
    border-left: 2px solid rgb(42, 114, 159);
  }
  .about .education .education-wrapper .content.cstate {
    border-right: none;
    border-left: 2px solid rgb(67, 185, 86);
  }
}
.portfolio {
  width: 100%;
  padding: 80px 0 70px;
}
.portfolio .portfolio-item {
  margin-bottom: 40px;
  cursor: pointer;
}
.portfolio .portfolio-item .portfolio-item-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay {
  width: 100%;
  height: 100%;/*background-color: rgba(0, 0, 0, 0.85);*/
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-overlay-gradient {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 188, 155, 0.8);
  background: linear-gradient(15deg, rgba(55, 188, 155, 0.98), rgba(93, 156, 236, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center {
  color: #f6f5f3;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center h3 {
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center p {
  margin: 0;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center .dev-icons {
  padding: 0 0 8px;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center .dev-icons i {
  padding: 0 4px;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-item-overlay .portfolio-item-content .portfolio-item-content-center .dev-icons i:first-child {
  padding-left: 0;
}
.portfolio .portfolio-item .portfolio-item-wrapper .portfolio-image {
  width: 100%;
}
.portfolio-item-details .title-bar {
  width: 100%;
  background-color: #37BC9B;
  background: linear-gradient(15deg, rgba(55, 188, 155, 0.98), rgba(93, 156, 236, 0.8));
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}
.portfolio-item-details .title-bar .portfolio-title {
  font-size: 3em;
  text-transform: uppercase;
  color: #f6f5f3;
  margin: 0;
}
.portfolio-item-details .title-bar .cta-wrapper {
  float: right;
}
.portfolio-item-details .title-bar .cta-wrapper .btn {
  margin-right: 10px;
}
.portfolio-item-details .title-bar .cta-wrapper .btn:last-child {
  margin-right: 0;
}
.portfolio-item-details .details .detail-section {
  padding-bottom: 40px;
}
.portfolio-item-details .details .detail-section h3 {
  margin: 0;
}
.portfolio-item-details .details .detail-section ul {
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .portfolio-item-details .title-bar .cta-wrapper {
    padding-top: 20px;
    float: left;
  }
}
