
.about {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 80px 0 70px;

  h2 {
    margin: 0;
  }

  .education {
    text-align: right;

    .education-wrapper {
      margin-top: 5px;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .content {
        width: 100%;
        padding: 4px 10px 4px 0;
        margin-bottom: 8px;

        &.tiy {
          border-right: 2px solid $color-tiy;
        }

        &.cstate {
          border-right: 2px solid $color-cstate;
        }

        h4,
        h5,
        p {
          padding: 0 0 4px;
          margin: 0;
        }

        h4 {
          font-weight: 500;
        }

        p {
          font-style: italic;
          font-weight: 200;
          padding: 0;
        }
      }
    }
  }

  .skills {
    padding-top: 40px;

    .skills-list {
      overflow-wrap: break-word;

      .skill {
        display: inline-block;
        font-size: 3em;
        line-height: 0em;
        padding: 8px;
        margin: 8px 8px 8px 0;

        &.strong {
          color: red;
          background-color: rgba(255, 0, 0, 0.06);
        }

        &.medium {
          color: green;
          background-color: rgba(0, 255, 0, 0.06);
        }

        &.learning {
          color: blue;
          background-color: rgba(0, 0, 255, 0.06);
        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .about {

    .education {
      text-align: left;
      padding-top: 40px;

      #educationHeaderUnderscore {
        float: left;
      }

      .education-wrapper {

        .content {
          padding: 4px 4px 4px 10px;

          &.tiy {
            border-right: none;
            border-left: 2px solid $color-tiy;
          }

          &.cstate {
            border-right: none;
            border-left: 2px solid $color-cstate;
          }
        }
      }
    }
  }
}
