
.contact {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 120px 0 140px;

  #thankYouResponse {
    display: none;
  }

  .contact-form {

    .control-label {
      font-weight: 200;
      font-size: 1em;
    }

    .form-control {
      background-color: rgba(255, 255, 255, 0.2);

      &.invalid {
        border: 1px solid rgba(255, 0, 0, 0.6);
      }
    }

    .form-group {
      position: relative;
    }

    .invalid-message {
      color: rgba(255, 0, 0, 0.4);
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
      transition: all 600ms ease;
    }

    #inputName .invalid ~ .invalid-message { visibility: visible; }
    #inputEmail .invalid ~ .invalid-message { visibility: visible; }
    #inputSubject .invalid ~ .invalid-message { visibility: visible; }
    #inputMessage .invalid ~ .invalid-message { visibility: visible; }

    .button-group {
      float: right;

      .btn {
        margin-top: 10px;
      }
    }
  }

  .contact-list {
    color: rgba(0, 0, 0, 0.75);
    list-style: none;
    padding: 20px 0;
    display: block;

    li {
      padding-right: 40px;
      display: inline-block;
    }
  }
}
