
.contact {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 80px 0 70px;

  .contact-form {

    .control-label {
      font-weight: 200;
      font-size: 1em;
    }

    .form-control {
      background-color: rgba(255, 255, 255, 0.2);

    }

    .button-group {
      float: right;

      .btn {
        margin-top: 10px;
      }
    }
  }

  .contact-list {
    color: rgba(0, 0, 0, 0.75);
    list-style: none;
    padding: 20px 0;
    display: block;

    li {
      padding-right: 40px;
      display: inline-block;
    }
  }
}
