
.footer {
  width: 100%;
  background-color: $color-dark;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0 80px;

  .site-links {

    .site-navigation {
      text-align: center;
      list-style: none;
      padding: 0;

      li {
        padding: 0 10px;
        display: inline-block;
      }
    }
  }

  .social-links {

    .social-networks {
      text-align: right;
      list-style: none;
      padding: 0;

      li {
        padding: 3px 16px;
        float: right;

        &:last-child {
          padding-right: 0;
        }

        svg {
          height: 18px;
          fill: $color-white;
          transition: all 600ms ease;

          &:hover {
            fill: $color-green;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;

    .social-links {
      padding-top: 20px;

      .social-networks {
        text-align: center;

        li {
          float: none;
          display: inline-block;
        }
      }
    }
  }
}
