$header-font: 'Titillium Web', sans-serif;
$color-green: #37BC9B;
$color-link: #2E9E82;
$color-dark: #333;
$color-gray: #3d3d3f;
$color-milk: #f6f5f3;
$color-white: #f9f8fd;
$color-tiy: rgb(42, 114, 159);
$color-cstate: rgb(67, 185, 86);



/*
  Global Styles
*/
body {
  padding-top: 51px;
  background-color: $color-white;
  color: $color-dark;
}

[class^=mif-] {
  vertical-align: top;
  transform: translateY(3px);
  padding-right: 4px;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color 600ms ease;

  &:hover {
    color: $color-green;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

.text-center {
  text-align: center;
}

.text-block {
  line-height: 1.6em;
}

.full-height {
	height: 100%;
}

.image-onehundred {
  width: 100%;
}

.right-align-underscore {

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .header-underscore {
    float: right;
  }
}

.header-underscore {
  width: 40px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px 0 14px;

  &.center {
    margin: 10px auto 14px;
  }

  &.white {
    background-color: $color-milk;
  }
}



/*
  TypedJS Styles
*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
