
.navbar {
  border-bottom: none;
}

.header {
	width: 100%;
  font-family: $header-font;

	.logo-wrap {
		position: relative;
    padding: 12px 0 4px;

    svg {
      height: 30px;

      g {
        fill: $color-white;
      }
    }
	}
  .navigation {
    list-style: none;
    text-align: center;
    position: relative;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    a {
      color: $color-milk;
      transition: color 300ms ease;

      &:hover {
        color: $color-green;
      }

      &.home:hover ~ .h-rule,      &.home.active ~ .h-rule      { margin-left:  0%; }
      &.about:hover ~ .h-rule,     &.about.active ~ .h-rule     { margin-left: 25%; }
      &.portfolio:hover ~ .h-rule, &.portfolio.active ~ .h-rule { margin-left: 50%; }
      &.contact:hover ~ .h-rule,   &.contact.active ~ .h-rule   { margin-left: 75%; }
    }

    li {
      width: 25%;
      padding: 14px 0 15px;
      float: left;
    }

    .h-rule {
      width: 25%;
      height: 4px;
      background-color: $color-green;
      position: absolute;
      bottom: -1px;
      transition: all 300ms ease;
    }
  }

  .social-networks {
    list-style: none;
    padding-top: 14px;

    li {
      padding: 0 10px;
      float: right;

      img {
        width: 25px;
      }
    }
  }

  .nav-small {

    .nav-small-menu-icon {
      display: none;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.8em;
      padding: 12px 0;
      float: right;
      cursor: pointer;

      &:hover,
      &.active {
        color: $color-white;
      }
    }
  }
}

.nav-small-content {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: $color-dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .nav-small-content-wrapper {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h3 {
      color: $color-milk;
      padding: 0 0 40px;
      margin: 0;
    }

    a {
      color: $color-milk;
      transition: color 300ms ease;
      text-decoration: none;

      &:hover,
      &.active {
        color: $color-green;
      }
    }

    .social-networks {
      max-width: 300px;
      list-style: none;
      padding-bottom: 30px;
      margin: 0 auto;

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      li {
        display: inline-block;
        padding: 0 10px;
      }
    }

    .navigation {
      width: 100%;
      list-style: none;

      li {
        display: block;
        font-size: 1.4em;
        padding: 6px 0;
      }
    }
  }


}



@media screen and (max-width: 995px) {
  .header {

    .nav-large {
      display: none;
    }

    .nav-small {

      .nav-small-menu-icon {
        display: inline-block;
      }
    }
  }
}
