
.hero {
  width: 100%;
  height: calc(100vh - 51px);
  background-color: $color-dark;
  font-size: 34px;
  color: $color-milk;
  position: relative;

  .hero-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    svg {
      width: 10%;

      g {
        fill: $color-white;
      }
    }

    .hero-content-copy {
  		padding: 20px 0 40px;

  		.welcome-message {
  			text-transform: uppercase;
  			font-size: 1em;
  			margin: 0;
  		}

  		.name-line {
  			text-transform: uppercase;
  			font-size: 2.4em;
  			margin: 0 0 4px;
  		}

  		.intro-line {
  			text-transform: uppercase;
  			font-size: 0.8em;
  			margin: 0;
  		}
    }

    button {
      margin: 0 5px;
      position: relative;
      z-index: 10;
    }

    .head-underscore {
      width: 60px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.4);
      margin: 15px 0;
    }
  }

  .particle-wrapper {
    width: 100%;
    height: calc(100vh - 51px);
    position: absolute;
    top: 0;
    left: 0;

    canvas {
      height: calc(100vh - 51px) !important;
    }
  }

  .chevron-down {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 20px;
  }
}



@media screen and (max-width: 740px) {
  .hero {
    font-size: 24px;

    .hero-content {

      .hero-content-copy {

    		.name-line {
    			font-size: 1.8em;
    		}
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .hero {

    .hero-content {

      svg {
        width: 15%;
      }
    }
  }
}
