
.portfolio {
  width: 100%;
  padding: 80px 0 70px;

  .portfolio-item {
    margin-bottom: 40px;

    &:hover {


    }

    .portfolio-item-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .portfolio-item-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }

      .portfolio-image {
        width: 100%;
      }

      .portfolio-item-content {
        color: $color-milk;
        padding: 0 20px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        h3 {
          padding: 0 0 10px;
          margin: 0;
        }

        .dev-icons {
          padding: 0 0 8px;

          i {
            padding: 0 4px;
          }
        }
      }
    }
  }
}
