
.portfolio {
  width: 100%;
  padding: 80px 0 70px;

  .portfolio-item {
    margin-bottom: 40px;

    &:hover {

      .portfolio-image-wrapper {

        .portfolio-content-wrapper {
          visibility: visible;
          opacity: 1;
          top: 10px;
        }
      }
    }

    .portfolio-image-wrapper {
      height: 293px;
      padding: 10px 10px 0;
      position: relative;
      overflow: hidden;
      transition: max-height 1000ms;

      .portfolio-image {
        width: 100%;
      }

      .dev-icons {
        width: calc(100% - 20px);
        color: $color-milk;
        font-size: 1.1em;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 6px 6px 2px;
        position: absolute;
        bottom: 0;
        left: 10px;

        i {
          padding: 0 2px;
        }
      }

      .portfolio-content-wrapper {
        visibility: hidden;
        opacity: 0;
        width: calc(100% - 20px);
        height: calc(100% - 41px);
        background-color: $color-green;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        transition: opacity 600ms ease;

        .portfolio-content {
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          h3 {
            padding: 10px 0;
            margin: 0;
          }

          p {
            max-height: 90px;
            margin: 0;
          }
        }
      }
    }
  }
}
